<div class="dashboard-container">
  <div class="navbar">
      <img src="https://v17.angular.io/assets/images/logos/angular/logo-nav@2x.png" alt="" />
    
    <input
      type="text"
      [ngModel]="searchTerm()"
      (ngModelChange)="searchTerm.set($event)"
      placeholder="Search topics..."
      class="search-input"
    />
    <!-- <div class="search-container"> -->
    <!-- </div> -->
  </div>
  <div class="topics-grid">
    <a *ngFor="let topic of filteredTopics()" [routerLink]="topic.route" class="topic-link">{{
      topic.name
    }}</a>
  </div>
</div>
